/* Makeshift CSS Reset */

body {
    padding: 1% 2% 5% 2%;
}

#mainContent {
    margin-left: 180px;
    padding: 0px 10px;
}

#intro {
    margin-left: 180px;
}

.sidebar-sticky {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eee;
    overflow-x: hidden;
    padding-top: 2%;
}

li:hover,
li.active {
    background-color: #9ec3e6;
}

#user_restricted_form .commands .btn {
    position: relative;
    top: -2.2rem;
}

#new_user_form .commands .btn {
    position: relative;
    top: 1rem;
    width: 8rem;
}

.section {
    padding: 1%;
}

.message .form_content {
    padding: 0.5em;
    padding-bottom: 2.2em;
    margin-bottom: 1.5em;
    border: 2px solid black;
    border-radius: 15px;
}

.diagnosis .form_content {
    padding: 0.5em;
    padding-bottom: 2.2em;
    margin-bottom: 1.5em;
    border: 2px solid black;
    border-radius: 15px;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.CustomButton {
    height: 3.3em;
    top: 2rem;
    position: relative;
}

.ControlButtons {
    padding-bottom: 8%;
    text-align: right;
}

.message-section {}